*{
  font-family: 'Poppins', sans-serif;

}
.glow {
  width: 350px!important  ;
    border: 3px solid transparent !important;
    border-image: linear-gradient(to right, red, blue) !important;
    border-image-slice: 1!important;
    padding: 25px!important;
    border-radius: 3px !important;
  
}